.notificacionIndividual p{
	
}

.notificacionIndividual img{
	border-radius: 100%!important;
	max-width: 140%;
}

.notificacionIndividual{
	padding: 1rem;
	border-bottom: 0.5px solid #9b9b9b;
	text-decoration: none;
}

.notificacionIndividual:hover{
	background-color: #9b9b9b;
	border-radius: 8px 8px 0px 0px;
	color:white;	
}

.notificacionTotales a{
	text-decoration: none;
}