@font-face {
  font-family: 'dantu';
  src:  url('fonts/dantu.eot?bcdtf8');
  src:  url('fonts/dantu.eot?bcdtf8#iefix') format('embedded-opentype'),
    url('fonts/dantu.ttf?bcdtf8') format('truetype'),
    url('fonts/dantu.woff?bcdtf8') format('woff'),
    url('fonts/dantu.svg?bcdtf8#dantu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dantu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archivo:before {
  content: "\e900";
}
.icon-bien:before {
  content: "\e901";
}
.icon-carrito:before {
  content: "\e902";
}
.icon-categorias:before {
  content: "\e903";
}
.icon-correo:before {
  content: "\e904";
}
.icon-dentistas:before {
  content: "\e905";
}
.icon-editar:before {
  content: "\e906";
}
.icon-eliminar:before {
  content: "\e907";
}
.icon-flecha-derecha:before {
  content: "\e908";
}
.icon-flecha-izquierda:before {
  content: "\e909";
}
.icon-globo:before {
  content: "\e90a";
}
.icon-grafica:before {
  content: "\e90b";
}
.icon-historial:before {
  content: "\e90c";
}
.icon-impresora:before {
  content: "\e90d";
}
.icon-lupa:before {
  content: "\e90e";
}
.icon-mal:before {
  content: "\e90f";
}
.icon-market:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-muela:before {
  content: "\e912";
}
.icon-neutral:before {
  content: "\e913";
}
.icon-notificacion:before {
  content: "\e914";
}
.icon-nueva-orden:before {
  content: "\e915";
}
.icon-password:before {
  content: "\e916";
}
.icon-precio:before {
  content: "\e917";
}
.icon-rayo:before {
  content: "\e918";
}
.icon-registro:before {
  content: "\e919";
}
.icon-reloj:before {
  content: "\e91a";
}
.icon-tecnico:before {
  content: "\e91b";
}
.icon-ubicacion:before {
  content: "\e91c";
}
.icon-urgente:before {
  content: "\e91d";
}
.icon-usuario:before {
  content: "\e91e";
}
